In [45]:
import requests
import pandas as pd
from bs4 import BeautifulSoup as bs4

In [46]:
URL="https://www.fifplay.com/fifa-22/players/?page="+str(1)
data=requests.get(URL)
data=data.content
data=bs4(data,"html5lib")
data=data.find_all(id="foot")

In [37]:
data[0].text.split("\n")[1]

'Right'

# getting links for the data

In [38]:
all_links=[]
all_foots=[]
for i in range(1,30):
    URL="https://www.fifplay.com/fifa-22/players/?page="+str(i)
    
    data=requests.get(URL)
    data=data.content
    data=bs4(data,"html5lib")
    footer=data.find_all(id="foot")
   
    for d in range(len(footer)):
        #footer[d]=footer[d].split("\n")[1]
        footer[d]=footer[d].text.split("\n")[1]
    data=data.find_all(class_="name")
    all_foots.extend(footer)
    for d in data:
        all_links.append(d.a["href"])

In [40]:
len(all_foots)

1450

In [41]:
data={"All links":all_links,"Foot":all_foots}

In [42]:
data_frame=pd.DataFrame(data)

In [43]:
data_frame

                                              All links   Foot
0     https://www.fifplay.com/fifa-22/players/246525...  Right
1     https://www.fifplay.com/fifa-22/players/237067...  Right
2     https://www.fifplay.com/fifa-22/players/246514...   Left
3     https://www.fifplay.com/fifa-22/players/100851...  Right
4     https://www.fifplay.com/fifa-22/players/100821...   Left
...                                                 ...    ...
1445  https://www.fifplay.com/fifa-22/players/505521...  Right
1446  https://www.fifplay.com/fifa-22/players/505205...  Right
1447  https://www.fifplay.com/fifa-22/players/673607...  Right
1448  https://www.fifplay.com/fifa-22/players/673309...  Right
1449  https://www.fifplay.com/fifa-22/players/505372...  Right

[1450 rows x 2 columns]

In [44]:
data_frame.to_excel("All players data link.xlsx",index=False)